name: "Cron Job"

on:
  schedule:
    - cron: "*/60 11 * * *"
    # RUNS EVERY DAY AT 11:00 AM UTC
  workflow_dispatch:
    # ALLOWS YOU TO RUN THIS WORKFLOW MANUALLY FROM GITHUB

jobs:
  cron-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
      - name: Setting up the environment
        uses: actions/setup-java@v3
        with:
          distribution: "zulu"
          java-version: 17
      - name: Running ESLint
        run: node eslint.js
      - name: Running Prettier
        run: node prettier.js
      - name: Running Unit Tests
        run: node unit.js
      - name: Running End-to-End Tests
        run: node e2e.js
      - name: Running the W3C Validator
        run: node w3c.js
      - name: Running the ECMAScript 5 Validator
        run: node babel.js
      - name: Running the cron job
        env:
          BOT_SETTINGS: ${{ vars.BOT_SETTINGS }}
          GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
        run: cd .github/workflows && node cronjob.js
